* {
    margin: 0; 
    padding: 0;
    background-color: rgb(13, 78, 118);
}

.content {
    display: flex;
    margin: 100px 30px 30px 30px;
    font-family: sans-serif;
   
}

#area {
    width: 156px;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 0;
    margin-right: 600px;
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.cell:hover {
    background-color: #F1F1F1;
}

.currentPlayer {
    width: 200px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.stat table {
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}